<h3> Edit your Cheer up Account </h3>
<div class="space">
    </div>
<form name="form1" action="/{{id}}?_method=put" method="POST">

<label for="Name">Your Name</label>
    <input type="text" name="name" value="{{name}}">

<label for="username">Cheer Ups User Name</label>
    <input type="text" name="username" value="{{username}}">

<label for "email">email to make a cheer up account</label> 
    <input type="text" name="email" value="{{email}}">

<label for "password">password for cheer up site</label> 
    <input type="text" name="password" value="{{password}}">

    <input class="button" type="submit" value="Update">
</form>


<h3> Click the delete button below to remove your Cheer Up account.</h3>

<form action="/users/{{id}}?_method=delete" method="post">
    <input class="button delete" type="submit" value="Delete">
</form>