
<div class="showCheer">

<h2> Cheer Up Title : {{title}} </h2>
<h2>Cheer Up Body : {{ cheerup }}</h2>
<h2>Created by : {{ creator }}</h2>
{{!-- <h2>Back Ground Color : {{ number }}</h2> --}}

<a id ="pop" class="button" href="/cheerups/edit/{{id}}">Edit This listing</a>

</div>